<h1>A total of $(length([1,3,4,4])) players were chosen</h1>
<h1>The probability of each player winning is $(probkers(game))</h1>




<div class="container-fluid">
    <div class="row hero-header" id="home">
        <div class="col-md-7">
            <h1 id="main-heading">Welcome to Probker! $(length([1,2,3,4]))</h1>
            <h3>Here you can calculate probabilities of poker hands</h3>
        </div>
    </div>
</div>

<div class="container-fluid whats-next" id="whats-next">
<div class="row me-row content-ct">
    <h2 class="row-title">Number of Players</h2>
    <button class="button button1" href="">2</button>
    <button class="button button1">3</button>
    <button class="button button1">4</button>
    <button class="button button1">5</button>
    <button class="button button1">6</button>
    <button class="button button1">7</button>
    <button class="button button1">8</button>
    <button class="button button1">9</button>      
</div>
</div>

<div class="container-fluid whats-next" id="whats-next">
<div class="row me-row content-ct">
    <h2 class="row-title">Card Selection</h2>
    <table class="center">
    <tr>
        <td><form action="" method="post"><button name="13" value="13" class=""><img src="img/card_icons/card(3).svg" width="100" height="150"/></button></form></td>
        <td><button class="btn btn-probker"><img src="img/card_icons/card(7).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(11).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(15).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(19).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(23).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(27).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(31).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(35).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(39).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(43).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(47).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(51).svg" width="100" height="150"/></button></td>
    </tr>

    <tr>
        <td><button class=""><img src="img/card_icons/card(53).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(4).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(8).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(12).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(16).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(20).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(24).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(28).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(32).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(36).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(40).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(44).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(48).svg" width="100" height="150"/></button></td>
    </tr>

    <tr>
        <td><button class=""><img src="img/card_icons/card(2).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(6).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(10).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(14).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(18).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(22).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(26).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(30).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(34).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(38).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(42).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(46).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(50).svg" width="100" height="150"/></button></td>
    </tr>

    <tr>
        <td><button class=""><img src="img/card_icons/card(1).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(5).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(9).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(13).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(17).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(21).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(25).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(29).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(33).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(37).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(41).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(45).svg" width="100" height="150"/></button></td>
        <td><button class=""><img src="img/card_icons/card(49).svg" width="100" height="150"/></button></td>
    </tr>

    </table>
</div>
</div>

<div class="container-fluid whats-next" id="whats-next">
<div class="row me-row content-ct">
    <h2 class="row-title">Player Cards</h2>
</div>
</div>

<div class="container-fluid whats-next" id="whats-next">
<div class="row me-row content-ct">
    <h2 class="row-title">Flop, Turn and River Cards</h2>
    
</div>
</div>

<script src="/js/genie/jquery.min.js"></script>
<script src="/js/genie/bootstrap.min.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="/js/genie/prism.js"></script>